.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.nav-links ul{
    display:flex;
    justify-content:center;
}
.nav-links li{
    list-style-type: none;
    margin:3px;
}

.name{
    font-size:18px;
    font-style: bold;
    display:flex;
}
